# Ignore everything
/*

# ===== Except source and config files ======
!.gitignore

# java source files
!/src

# demo folder
!/demo

# gradle wrapper 
!/gradle
!gradlew
!gradlew.bat

# gradle conf
!build.gradle
!settings.gradle

# maven conf (obsolete shoud be delete shortly)
!pom.xml